@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --clr-primary: #F5DEB3;
    --clr-danger: #ff7782;
    --clr-success: #84A78D;
    --clr-white: #fff;
    --clr-info-dark: #2F4858;
    --clr-info-light: #CAC894;
    --clr-dark: #4E4637;
    --clr-warnig: #FF8B5C;
    --clr-light: #B4AA99;
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;

    --card-boarder-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
}

/*dark theme*/
.dark-theme-variables {
    --clr-color-background: #3D0C02;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-color: var(--clr-color-background);
}

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
    margin: 0 auto;
}

a {
    color: var(--clr-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;

}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile_photo img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-variant);
}

b {
    color: var(--clr-dark);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.warning {
    color: var(--clr-warnig);
}

.danger {
    color: var(--clr-danger);
}

/*aside*/
aside {
    height: 100vh;
}

aside .top {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    border-radius: 10px;
}

aside .logo {
    display: flex;
    color: #ad522e;
    padding: 10px;
}

.close {
    display: none;
}

/**********
***sidebar*
**********/
aside .sidebar {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 2rem;
}

aside .sidebar a {
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.9rem;
    transition: all .1s ease-in;
}

aside .sidebar a span {
    font-size: 1.5rem;
    transition: all .1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

aside .sidebar a:hover {
    color: var(--clr-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease-in;
}

aside .sidebar a span.msg_count {
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 2px 5px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/******************************
Start main section style
*******************************/

main {
    margin-top: 1.4rem;
    width: auto;
}

main .page h1 {
    color: var(--clr-dark);
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}

main .page {
    margin-top: 5rem;
    margin-left: -20px;

    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-boarder-radius);
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

main .page:hover {
    box-shadow: none;
}

.food-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group select,
.form-group input[type="text"],
.form-group textarea,
.form-group input[type="number"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#food-description {
    width: 100%;
    height: 100px;
    resize: vertical;
}

#ingredients_row {
    display: flex;
    align-items: center;
}

#show-ingredients-btn {
    margin-right: 10px;
    flex: 1.5;
    background-color: var(--clr-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#show-ingredients-btn:hover {
    background: var(--clr-primary);
}

#selected-ingredients {
    flex: 3.5;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

button[type="button"],
#show-categories-btn,
#show-ingredients-btn {
    background-color: var(--clr-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button[type="button"]:hover,
#show-categories-btn:hover,
#show-ingredients-btn:hover {
    background: var(--clr-primary);
}

#submitBtn {
    background-color: var(--clr-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}


#submitBtn:hover {
    background: var(--clr-primary);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .modal-content h2 {
    text-align: center;
    font-size: 50px;
    color: var(--clr-dark);
    margin-bottom: 5px;
}

.ingredient-list {
    display: -webkit-box;

}

.ingredient-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ingredient-row {
    width: 30%;
    margin-bottom: 20px;
}

.ingredient-button:hover {
    background-color: var(--clr-dark);
}

.ingredient-button.selected {
    background-color: var(--clr-dark);
    color: var(--clr-primary);
}

#submit-ingredients-btn {
    background-color: var(--clr-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 100px;
    margin-right: 10px;
}

#submit-ingredients-btn:hover {
    background: var(--clr-primary);
}

.modal-content .button-container {
    display: flex;
    align-items: center;
}

#back-ingredients-btn {
    background-color: var(--clr-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 100px;
    margin-right: 10px;
}

#back-ingredients-btn:hover {
    background: var(--clr-primary);
}

#selected-ingredients {
    position: relative;
}

#selected-ingredients span {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/**********category************/
#dish_category {
    display: flex;
}

#dish_category h4 {
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    background-color: var(--clr-dark);
    margin-left: 38px;
    color: var(--clr-primary);
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5DEB3;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #3D0C02;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-content2 .category-button {
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    font-size: 25px;
    border-bottom: 1px dashed var(--clr-dark);
}

.modal-content2 .category-button:hover {
    color: var(--clr-color-background);
    transition: color 0.3s;
}

.modal-content2 .category-button.selected {
    color: var(--clr-color-background);
}

.modal-content2 span {
    position: absolute;
    background-color: var(--clr-primary);
    border-radius: var(--border-radius-1);
    right: 5px;
    top: 5px;
}

.modal-content2 span:hover {
    color: var(--clr-color-background);
    transition: color 0.3s;
}

.modal2 {
    display: none;
}

/******************************
media query
*******************************/

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/******************************
media query for phones
*******************************/

@media screen and (max-width:786px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    aside {
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: none;
        left: -100px;
        animation: menuAni 1s forwards;
    }

    @keyframes menuAni {
        to {
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;

    }

    aside .sidebar h3 {
        display: inline;

    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;

    }

    .close {
        display: inline;
        color: var(--clr-dark);
        position: relative;
        right: 0;
        margin-left: 30px;
        font-size: 35px;
    }

    .close:hover {
        color: var(--clr-primary);
        background-color: var(--clr-dark);

        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 1s ease;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        background: var(--clr-white);
        width: 100%;
        height: 4.6rem;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--box-shadow);
        margin: 0;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
        padding: 40px;
    }

    main .recent_order {
        padding: 30px;
        margin: 0 auto;
    }

    .right .profile {
        position: absolute;
        left: 70%;

    }

    #menu_bar:hover {
        color: var(--clr-primary);
        transition: color .3s ease;
    }

    .right .recent_updates {
        padding: 30px;

    }

    .right .sales_analytic {
        padding: 30px;
    }

    .add_products {
        padding: 30px;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;
    }

}