@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --clr-primary: #F5DEB3;
    --clr-danger: #ff7782;
    --clr-success: #84A78D;
    --clr-white: #fff;
    --clr-info-dark: #2F4858;
    --clr-info-light: #CAC894;
    --clr-dark: #4E4637;
    --clr-warnig: #FF8B5C;
    --clr-light: #B4AA99;
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;

    --card-boarder-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);

    --search-color: #f6f6f6;
}

/*dark theme*/
.dark-theme-variables {
    --clr-color-background: #3D0C02;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-color: var(--clr-color-background);
}

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
    margin: 0 auto;
}

a {
    color: var(--clr-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile_photo img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-variant);
}

b {
    color: var(--clr-dark);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.warning {
    color: var(--clr-warnig);
}

.danger {
    color: var(--clr-danger);
}

/*aside*/
aside {
    height: 100vh;
}

aside .top {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    border-radius: 10px;
}

aside .logo {
    display: flex;
    color: #ad522e;
    padding: 10px;
}

.close {
    display: none;
}

/**********
***sidebar*
**********/

aside .sidebar {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 2rem;
}

aside h3 {
    font-size: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.9rem;
    transition: all .1s ease-in;
}

aside .sidebar a span {
    font-size: 1.5rem;
    transition: all .1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

aside .sidebar a:hover {
    color: var(--clr-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease-in;
}

aside .sidebar a span.msg_count {
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 2px 5px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/******************************
Start main section style
*******************************/

main {
    margin-top: 1.4rem;
}

/*food cards*/
main .categories {
    margin-top: 2rem;
}

main .categories table {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: var(--card-boarder-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    color: var(--clr-dark);
    margin-bottom: 20px;
}


main .categories table:hover {
    box-shadow: none;
}

main .categories table tbody tr {
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}

main .categories table tbody ul li {
    margin-bottom: 10px;
}

main .categories table tbody td.available {
    width: 100px;
}


main .categories table tbody .edit-button {
    color: var(--clr-success);
}

main .categories table tbody .delete-button {
    color: var(--clr-danger);
}

main .food_cards a {
    text-align: center;
    display: block;
    margin: 1rem;
}

main .categories img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
}

/**main right section*/

.right {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 1.4rem;
}

.right h2 {
    color: var(--clr-dark);
}

.right .top {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right .theme-toggler span.active {
    background-color: var(--clr-primary);
    color: var(--clr-info-dark);
}

.right .top .profile {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.right .info h3 {
    color: var(--clr-dark);
}

.right .item h3 {
    color: var(--clr-dark);
}


/*search bar*/

.search {
    width: max-content;
    display: flex;
    margin-left: -700px;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: var(--search-color);
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search .search-input {
    font-size: 16px;
    font-family: Rubik, sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search .search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}


/*****add new products*****/

.add_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.add_products div {
    display: flex;
    height: 60px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px dashed;
    color: var(--clr-dark-variant);
    margin-bottom: 10px;
}

.add_products div:hover {
    color: var(--clr-primary);
    transition: color .3s ease;
}

/*food cards*/

main .categories {
    margin-top: 2rem;
}

main .categories table {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: var(--card-boarder-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    color: var(--clr-dark);
    margin-bottom: 20px;
}

main .categories table:hover {
    box-shadow: none;
}

main .categories table tbody tr {
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}

main .categories table tbody ul li {
    margin-bottom: 10px;
}

main .categories table tbody td.available {
    width: 100px;
}

main .categories table tbody .edit-button {
    color: var(--clr-success);
}

main .categories table tbody .delete-button {
    color: var(--clr-danger);
}

main .food_cards a {
    text-align: center;
    display: block;
    margin: 1rem;
}

main .categories img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(161, 161, 161, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5DEB3;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #3D0C02;
    border-radius: 20px;


}

input[type="text"] {
    background-color: #3D0C02;
    color: #F5DEB3;
    border-radius: 10px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3D0C02;
    color: #F5DEB3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #3d0c02c0;
}

.word-wrap {
    word-wrap: break-word;
}

.add_products {
    cursor: pointer;
}

.modal.show {
    display: block;
}

/******************************
media query
*******************************/

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/******************************
media query for phones
*******************************/

@media screen and (max-width:786px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    aside {
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: none;
        left: -100px;
        animation: menuAni 1s forwards;
    }

    @keyframes menuAni {
        to {
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;

    }

    aside .sidebar h3 {
        display: inline;

    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;

    }

    .close {
        display: inline;
        color: var(--clr-dark);
        position: relative;
        right: 0;
        margin-left: 30px;
        font-size: 35px;
    }

    .close:hover {
        color: var(--clr-primary);
        background-color: var(--clr-dark);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 1s ease;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        background: var(--clr-white);
        width: 100%;
        height: 4.6rem;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--box-shadow);
        margin: 0;
    }


    .right .profile {
        position: absolute;
        left: 70%;
    }

    #menu_bar:hover {
        color: var(--clr-primary);
        transition: color .3s ease;
    }

    .right .recent_updates {
        padding: 30px;
    }

    .right .sales_analytic {
        padding: 30px;
    }

    .add_products {
        padding: 30px;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;
    }

}